{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Example</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
        <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
        
        <link href="{% static 'css/bootstrap-dark.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/app-dark.min.css' %}" rel="stylesheet" type="text/css"/>

		<link href="{% static '/css/icons.min.css' %}" rel="stylesheet" type="text/css" />

    </head>

    <body class="loading">
        <div id="wrapper">

            <div class="left-side-menu">

                <div class="logo-box">
                    <a href="{% url 'index' %}" class="logo logo-dark text-center">
                        <span class="logo-sm">
                            <!-- <img src="#" alt="" height="24"> -->
                            <h4>Logo</h4>
                        </span>
                        <span class="logo-lg">
                            <!-- <img src="#" alt="" height="24"> -->
                            <h4>Logo</h4>
                        </span>
                    </a>

                    <a href="{% url 'index' %}" class="logo logo-light text-center">
                        <span class="logo-sm">
                            <img src="#" alt="" height="24">
                        </span>
                        <span class="logo-lg">
                            <img src="#" alt="" height="22">
                        </span>
                    </a>
                </div>

                <div class="h-100" data-simplebar>

                    <div class="user-box text-center">
                        <img src="../static/images/users/avatar.png" alt="user-img" title="Mat Helme"
                            class="rounded-circle avatar-md">
                        <p class="text-muted">User admin</p>
                    </div>

                    <div id="sidebar-menu">
                        <ul id="side-menu">

                            <li class="menu-title">Navigation</li>

                            <li>
                                <a href="{% url 'index' %}">
                                    <i class="fe-airplay"></i>
                                    <!-- <span class="badge badge-danger float-right">3</span> -->
                                    <span> Dashboard </span>
                                </a>
                            </li>

                            <!-- <li>
                                <a href="#sidebarApps" data-toggle="collapse">
                                    <i class="fe-layers"></i>
                                    <span> Donantes </span>
                                    <span class="menu-arrow"></span>
                                </a>

                                <div class="collapse" id="sidebarApps">
                                    <ul class="nav-second-level">
                                        <li><a href="apps-calendar.html">Calendar</a></li>
                                        <li><a href="apps-tickets.html">Tickets</a></li>
                                        <li><a href="apps-taskboard.html">Task Board</a></li>
                                        <li><a href="apps-task-detail.html">Task Detail</a></li>
                                        <li><a href="apps-contacts.html">Contacts</a></li>
                                        <li><a href="apps-projects.html">Projects</a></li>
                                        <li><a href="apps-companies.html">Companies</a></li>
                                        <li><a href="apps-file-manager.html">File Manager</a></li>
                                    </ul>
                                </div>
                            </li> -->

                            <li>
                                <a href="{% url 'donantes' %}">
                                    <i class="fe-airplay"></i>
                                    <span> Donantes </span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'donaciones' %}">
                                    <i class="fe-airplay"></i>
                                    <span> Donaciones </span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'circulos' %}">
                                    <i class="fe-airplay"></i>
                                    <span> Circulos </span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'administracion' %}">
                                    <i class="fe-airplay"></i>
                                    <span> Administración </span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'alianzas' %}">
                                    <i class="fe-airplay"></i>
                                    <span> Alianzas estratégicas </span>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="content-page">
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="card-body">
                                <h4 class="header-title">Dashboard</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                
                            </div>
                        </div>
                    </div>
                </footer>

            </div>

        </div>
        
        <script src="{% static 'js/vendor.min.js' %}"></script>
        <script src="{% static 'js/app.min.js' %}"></script>
        
    </body>
</html>